[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "3.8.4"
vosk = "0.3.45"
aiogram = "==2.25.1"
llvmlite = "==0.39.1"
numba = "==0.56.4"
numpy = "==1.23.5"
openai-whisper = "*"
setuptools-rust = "*"
pyrogram = "*"
tgcrypto = "*"

[dev-packages]
black = "*"
flake8 = "*"

[requires]
python_version = "3.10.10"

[pipenv]
allow_prereleases = true
