[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
vosk = "*"
aiogram = "==2.25.1"
openai-whisper = "*"
llvmlite = "==0.39.1"

[dev-packages]
black = "*"
flake8 = "*"

[requires]
python_version = "3.10.10"

[pipenv]
allow_prereleases = true
